.login-nav.active {
  border: none;
}

.navLink-container .active,
.login-nav.active {
  background-color: transparent !important;
  color: black !important;
  border-bottom: 3px solid #6c59f5;
  border-radius: 0;
}
